
#status_bar {
    -fx-padding: 4;
    -fx-background-color: grey;
    -fx-pref-width: infinity;
}

#image_view {
    -fx-background-color: black;
}

#settings {
    -fx-padding: 4;
    -fx-spacing: 4;
    -fx-background-color: grey;
}

#settings Button {
    -fx-min-width: 50;
}

#settings HBox {
    -fx-spacing: 4;
}